/* RESPONSIVE START */
@media (max-width:1440px) {
  .image-caption{
    font-size: 17px;
  }
  
}
@media (max-width:1410px) {
  .hero h1 {
    font-size: 70px;

  }
  .image-caption{
    padding: 14px 0px;
    max-width: 50%;
    font-size: 18px;
    line-height: 130%;
  }


  
}

@media (max-width:1320px) {
  .hero h1 {
    font-size: 60px;
  }

  .image-caption{
    font-size: 13px;
  }

  .problems-container {
    margin-right: 60px;
  }

  .problems-title{
  font-size: 60px;
  }

  .smart-title{
    font-size: 60px;
    text-align: center;
    margin-bottom: 50px;
  }

  .problem-item {
    padding: 25px 18px 25px 18px;
    width: 630px;
  }
  
  .solution-logo {
    width: 200px;
  }

  .solution-name {
    font-size: 45px;
  }

  .solution-name span {
    font-size: 37px;
  }
  
  .solution-description {
    padding: 20px 25px;
    font-size: 25px;
  }

}

@media (max-width:1144px) {
  .hero h1 {
    font-size: 50px;
  }
}

@media (max-width:1200px) {
  .problems-container {
    margin-right: 50px;
  }

  .problems-title{
  font-size: 55px;
  }
  .smart-title{
    font-size: 55px;
    margin-bottom: 40px;
  }
  


  .problem-item {
    width: 580px;
  }
  
  .solution-logo {
    width: 180px;
  }

  .solution-name {
    font-size: 42px;
  }

  .solution-name span {
    font-size: 35px;
  }
  
  .solution-description {
    padding: 18px 23px;
    font-size: 23px;
  }
  
}


@media (max-width:1100px) {
    .logo {
        width: 145.21px;
    }

    .header-nav_link {
        font-size: 16px;
    }

    .lang{
        width: 33px;
      }

      .buttons {
        margin-top: 40px;
      }
      
      .btn {
        width: 275px;
        padding: 25px 15px;
        border-radius: 13px;
        font-size: 14px;
      }

      .problems-container {
        margin-right: 40px;
      }
    
      .problem-item {
        width: 550px;
      }
      
      .solution-logo {
        width: 170px;
      }
    
      .solution-name {
        font-size: 38px;
      }
    
      .solution-name span {
        font-size: 30px;
      }
      
      .solution-description {
        padding: 15px 20px;
        font-size: 20px;
      }
      .features-section {
        margin-bottom: 30px;
      }

      .features-content {
        padding-block: 0px;
        gap: 20px;
      }
}

@media (max-width:1010px) {
  .image-caption{
    font-size: 14px;
  }
  .hero{
    padding: 40px 20px;
  }

  
  .buttons {
    margin-top: 30px;
  }
  
  .btn {
    width: 255px;
    padding: 20px 10px;
    border-radius: 10px;
  }

  .problems-container {
    margin-right: 30px;
  }

  .problem-item {
    width: 490px;
    font-size: 18px;
  }
  
  .solution-description {
    padding: 10px 15px;
    font-size: 18px;
  }

  .card{
    padding: 20px;
  }

  .smart-icon {
    margin-bottom: 5px;
  }

  .smart-icon img{
    width: 35px;
  }

  .card h3 {
    font-size: 17px;
    line-height: 23px;
    padding-bottom: 10px;
  }
  
  .card p {
    font-size: 12px;
  }
  .features-section ul li {
      font-size: 12px;
  }
  .features-section {
    margin-bottom: 20px;
  }

  .demo-button button {
    padding: 24px 16px;
    font-size: 12px;
    width: 255px;

 }
}

@media (max-width:970px) {
  .hero h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .image-caption{
    font-size: 10px;
  }



  
}

@media (max-width:920px) {
      .logo {
          width: 130px;
      }
  
      .header-nav_link {
          font-size: 13px;
      }
  
      .lang{
          width: 28px;
        }

        .hero{
          padding: 30px 20px;
        }

        
      .buttons {
        margin-top: 20px;
      }
      
      .btn {
        width: 225px;
        padding: 17px 8px;
        border-radius: 8px;
        font-size: 12px;
      }

      .problems-container {
        margin-right: 20px;
      }
    
      .problem-item {
        width: 470px;
      }
      
      .solution-logo {
        width: 160px;
      }
    
      .solution-name {
        font-size: 30px;
      }
    
      .solution-name span {
        font-size: 25px;
      }
      
      .solution-description {
        padding: 8px 10px;
        font-size: 15px;
      }
    
      
  }

@media(max-width:830px){
    .logo {
        width: 120px;
    }

    .header-nav_link {
        font-size: 10px;
    }

    .lang{
        width: 25px;
      }

      .problems-container{
        flex-direction: column;
        gap: 30px;
        margin: 0 auto;
      }

      .vertical-line{
        display: none;
      }

      .problems{
        padding-left: 0px;
      }

      .problems-title{
        font-size: 45px;
        margin-block: 30px;
      }



      .smart-title{
        font-size: 45px;
        margin-bottom: 30px;
      }
      
     .smart-section{
      padding-block: 0px;
     }

     .features-title {
      font-size: 45px;
    }
    
    .features-section {
      margin-bottom: 15px;
    }
    
    .features-section h3 {
      font-size: 20px;
      margin-bottom: 12px;
  
    }
    
}

@media (max-width:789px) {
  .hero h1 {
    font-size: 35px;
  }

  
  .buttons {
    margin-top: 15px;
  }
  
  .btn {
    width: 195px;
    padding: 14px 7px;
    font-size: 10px;
  }



  
}


@media (max-width: 768px) {
    .content {
      padding: 10px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .header-nav {
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      flex-direction: column;
      background-color: white;
      display: none;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      z-index: 1000;
    }
  
    .header-nav.show {
      display: flex;
    }
  
    .header-nav_link {
      width: 100%;
      padding: 15px;
      text-align: center;
      border-top: 1px solid #ddd;
    }
  
    .burger-menu {
      display: flex;
      cursor: pointer;
    }
  }

  @media (max-width:700px) {
    .hero h1 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    .image-caption{
      font-size: 10px;
      bottom: -15px;
    }

    .hero{
      padding: 10px;
    }

    .hero-image-wrapper{
      border-radius: 15px;
      object-fit: scale-down;
    }

    
    .btn {
      width: 165px;
      padding: 10px 5px;
    }
    .problems-title{
      margin-block: 20px;
    }

    .card-container {
      gap: 18px;
      margin-bottom:  25px;
    }
    .card-content{
      margin-block: 10px;
    }

    .features-container {
      align-items: center;
      flex-direction: column;
      margin-bottom: 85px;
      gap: 75px;
    }
  
  }

  
  @media (max-width:620px) {
    .hero h1 {
      font-size: 24px;
      margin-bottom: 15px;
    }
    .image-caption{
      font-size: 8px;
    }
    
    .problems-title{
      font-size: 40px;
      margin-block: 15px;
    }
    .smart-title{
      font-size: 40px;
    }
    
    .features-title {
      font-size: 40px;
      margin-bottom: 25px;
    }
    
    
  
    .problem-item {
      width: 450px;
    }
    
  .solution-description {
      font-size: 20px;
    }

    .card{
      padding: 10px;
    }
  
    .smart-icon {
      margin-bottom: 3px;
    }
  
    .smart-icon img{
      width: 27px;
    }
  
    .card h3 {
      font-size: 15px;
      padding-bottom: 8px;
    }
    
    .card p {
      font-size: 10px;
    }
    .features-section ul li {
        font-size: 10px;
    }
    
    .demo-button button {
      padding: 24px 13px;
      width: 205px;
  
    
  }

  }
  
  @media (max-width:510px) {
    .hero h1 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .image-caption{
      font-size: 7px;
      bottom: -13px;
    }

    .btn {
      width: 145px;
      font-size: 9px;
    }

    .problems-title{
      font-size: 30px;
      margin-block: 10px;
    }

    .problem-item {
      width: 420px;
      font-size:15px ;
    }

    .smart-title{
      font-size: 30px;
      margin-bottom: 25px;
    }

    .features-title {
      font-size: 30px;
      margin-bottom: 25px;
    }
    
    .features-section {
      margin-bottom: 10px;
    }
    
    .features-section h3 {
      font-size: 15px;
      margin-bottom: 10px;
    }
      
  }

  @media (max-width:480px) {
    .btn {
      width: 105px;
    }
    .problems-title{
      margin-block: 0px;
    }
    
  }

  @media (max-width:450px) {

    .problem-item{
      width: 380px;
      font-size: 13px;
      padding: 18px 13px;
    }
    .solution-logo{
      width: 130px;
    }

    .demo-button button {
      padding: 19px 10px;
      width: 190px;
  }


  .features-container {
    gap: 25px;
  }


  .features-left-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* oraliq uchun */
  }

  .features-left-imgs .features-overlay-img {
    position: static;
    transform: none;
    width: 100%; /* asosiysi - ikkinchi rasm ham to‘liq ko‘rsin */
    box-shadow: none;
    margin-top: 10px;
  }

  .features-left-imgs img {
    width: 100%;
  }
    
  }
    
  @media (max-width:413px) {
    .hero h1 {
      font-size: 16px;
      margin-bottom: 8px;
    }

    .image-caption{
      font-size: 5.8px;
      /* bottom: -13px; */
    }
    .btn {
      width: 95px;
      padding: 7px 3px;
      font-size: 7px;
    }

    .problem-item{
      width: 340px;
      font-size: 10px;
      padding: 15px 10px;
    }
    .solution-logo{
      width: 100px;
    }

    .problems-title{
      font-size: 25px;
    }

    .smart-title{
      font-size: 25px;
      margin-bottom: 5px;
    }

    .features-title {
      font-size: 25px;
      margin-bottom: 20px;
    }
    
    .features-section {
      margin-bottom: 0px;
    }


        
    
  }


  @media (max-width:360px) {
    .problem-item{
      width: 300px;
      padding: 10px 8px;
    }
    .solution-logo{
      width: 93px;
    }

    .problems-title{
      font-size: 23px;
    }

    .smart-title{
      font-size: 22.7px;
    }  

    .features-title {
      font-size: 22.7px;
      margin-bottom: 18px;
    }
    
  

    .solution-description{
      font-size: 15px;
    }
    .solution-name {
      font-size: 27px;
    }
  
    .solution-name span {
      font-size: 23px;
    }

    .card-container {
      gap: 15px;
      margin-bottom:  18px;
    }
    .card-content{
      margin-block: 8px;
    }

    .demo-button button {
      padding: 15px 8px;
      width: 17 0px;
  }

  @media (max-width: 360px) {
    .features-left-imgs img,
    .features-left-imgs .features-overlay-img {
      width: 85%; 
      align-items: center;
 
    }
  
  }
   
  }

