.footer {
  background-color: #f6fafd;
  padding: 40px 60px;
}

.footer-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  color: #333;
  margin: 0 auto;

}

.footer-logo {
  flex: 1.5;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.logo-title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.logo-title img {
  width: 185px;
  margin-bottom: 20px;
}

.logo-title h2 {
  margin: 0;
  color: #00c176;
  font-weight: bold;
}

.logo-title h2 span {
  font-size: 0.6em;
  color: #777;
  font-weight: normal;
  margin-left: 5px;
}

.logo-title p {
  margin-top: 8px;
  font-size: 15px;
  line-height: 1.6;
  max-width: 372px;
  color: #1b2f45;
  font-weight: 400;
}

.social-icons {
  margin-top: 15px;
}

.footer-column {
  flex: 1;
  width: 220px;
  margin-bottom: 50px;
}

.footer-column h4 {
  line-height: 19.2px;
  font-weight: 700;
  font-size: 16px;
  color: #1e3a5f;
}

.footer-column h4:hover {
  color: #486686;
  cursor: pointer;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin-bottom: 6px;
}

.footer-column ul li {
  font-size: 14px;
  margin-bottom: 6px;
  color: #31547c;
  line-height: 19.2px;
}

.footer-column ul li:hover {
  color: #5c79a0;
  cursor: pointer;
}

.footer-column p {
  font-size: 14px;
  margin: 6px 0;
  color: #31547c;
  line-height: 14px;
}

.footer-column strong:hover {
  color: #5c79a0;
  cursor: pointer;
}

.fab img {
  width: 32px;
  margin-top: 10px;
}

.fabicon {
  margin-left: 10px;
}
